version: "3"
services:

  order-rest-service:
    build:
      context: ./
      dockerfile: ./order-rest/Dockerfile
    image: order-rest-final:latest

  order-worker-service:
    build:
      context: ./
      dockerfile: ./order-worker/Dockerfile
    image: order-worker-final:latest

  stock-rest-service:
    build:
      context: ./
      dockerfile: ./stock-rest/Dockerfile
    image: stock-rest-final:latest

  stock-worker-service:
    build:
      context: ./
      dockerfile: ./stock-worker/Dockerfile
    image: stock-worker-final:latest

  payment-rest-service:
    build:
      context: ./
      dockerfile: ./payment-rest/Dockerfile
    image: payment-rest-final:latest

  payment-worker-service:
    build:
      context: ./
      dockerfile: ./payment-worker/Dockerfile
    image: payment-worker-final:latest

  kafka-admin-service:
    build:
      context: ./
      dockerfile: ./kafka-admin/Dockerfile
    image: kafka-admin-final:latest
