version: "3"
services:

  gateway:
    image: nginx:latest
    volumes:
      - ./gateway_nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8000:80"

  order-service:
    build:
      context: ./
      dockerfile: ./order/Dockerfile
    image: order:latest
    environment:
      - GATEWAY_URL=http://gateway:80
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/keyfile.json
      - GCLOUD_PROJECT=wdmproject23-v2
    command: gunicorn -b 0.0.0.0:5000 --chdir /order app:app -w 1 --access-logfile - --error-logfile - --log-level debug --timeout 10
    env_file:
      - env/order_redis.env
    volumes:
      # Inject your specific service account keyfile into the container at runtime.
      # You first run 'gcloud auth application-default login'
      # Then export this variable in your shell to your service account keyfile path
      - ${GCP_KEY_PATH}:/tmp/keys/keyfile.json:ro

  order-db:
    image: redis:latest
    command: redis-server --requirepass redis --maxmemory 512mb
    # Expose the server on port 7000
    environment:
      - REDIS_PORT=7000
    ports:
      - "7000:6379"

  stock-service:
    build:
      context: ./
      dockerfile: ./stock/Dockerfile
    image: stock:latest
    environment:
      - GATEWAY_URL=http://gateway:80
    command: gunicorn -b 0.0.0.0:5000 --chdir /stock app:app -w 1 --access-logfile - --error-logfile - --log-level debug --timeout 10
    env_file:
      - env/stock_redis.env

  stock-db:
    image: redis:latest
    command: redis-server --requirepass redis --maxmemory 512mb
    environment:
      - REDIS_PORT=7002
    ports:
      - "7002:6379"

  payment-service:
    build:
      context: ./
      dockerfile: ./payment/Dockerfile
    image: user:latest

    environment:
      - GATEWAY_URL=http://gateway:80
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/keyfile.json
      - GCLOUD_PROJECT=wdmproject23-v2
    command: gunicorn -b 0.0.0.0:5000 --chdir /payment app:app -w 1 --access-logfile - --error-logfile - --log-level debug --timeout 10
    env_file:
      - env/payment_redis.env
    volumes:
      # Inject your specific service account keyfile into the container at runtime.
      # You first run 'gcloud auth application-default login'
      # Then export this variable in your shell to your service account keyfile path
      - ${GCP_KEY_PATH}:/tmp/keys/keyfile.json:ro

  payment-db:
    image: redis:latest
    command: redis-server --requirepass redis --maxmemory 512mb
    environment:
      - REDIS_PORT=7001
    ports:
      - "7001:6379"