version: "3"
services:

  order-rest-service:
    build:
      context: ./
      dockerfile: ./order-rest/Dockerfile
    image: order-rest2:latest

  order-worker-service:
    build:
      context: ./
      dockerfile: ./order-worker/Dockerfile
    image: order-worker2:latest

  stock-rest-service:
    build:
      context: ./
      dockerfile: ./stock-rest/Dockerfile
    image: stock-rest2:latest

  stock-worker-service:
    build:
      context: ./
      dockerfile: ./stock-worker/Dockerfile
    image: stock-worker2:latest

  payment-rest-service:
    build:
      context: ./
      dockerfile: ./payment-rest/Dockerfile
    image: payment-rest3:latest

  payment-worker-service:
    build:
      context: ./
      dockerfile: ./payment-worker/Dockerfile
    image: payment-worker2:latest

  kafka-admin-service:
    build:
      context: ./
      dockerfile: ./kafka-admin/Dockerfile
    image: kafka-admin:latest
