apiVersion: v1
kind: Service
metadata:
  name: order-worker-service
  annotations:
    networking.gke.io/load-balancer-type: "Internal"
spec:
  selector:
    component: order-worker
  ports:
    - port: 5000
      name: http
      targetPort: 5000
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: order-worker
  template:
    metadata:
      labels:
        component: order-worker
    spec:
      containers:
        - name: order-worker
          image: gcr.io/wdmproject23-v2/order-worker
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "1Gi"
              cpu: "1"
          command: ["gunicorn"]
          args: ["-b", "0.0.0.0:5000", "--chdir", "/src", "app:app"]
          ports:
            - containerPort: 5000
          env:
            - name: REDIS_HOST
              value: order-db
            - name: REDIS_PORT
              value: '6379'
            - name: REDIS_PASSWORD
              value: "redis"
            - name: REDIS_DB
              value: "0"