apiVersion: v1
kind: Service
metadata:
  name: payment-rest-service
spec:
  selector:
    component: payment-rest
  ports:
    - port: 5001
      name: http
      targetPort: 5001
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-rest-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: payment-rest
  template:
    metadata:
      labels:
        component: payment-rest
    spec:
      containers:
        - name: payment-rest
          image: gcr.io/wdmproject23-v2/payment-rest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "256Mi"
              cpu: "2"
            requests:
              memory: "32Mi"
              cpu: "2"
          command: ["gunicorn"]
          args: ["-b", "0.0.0.0:5001",
                 "--workers", "3",
                 "--worker-class", "gevent",
                 "--chdir", "/home/app/src",
                 "app:start()"]
          ports:
            - containerPort: 5001
          env:
            - name: BOOTSTRAP_SERVERS
              value: kafka-service:9092