apiVersion: v1
kind: Service
metadata:
  name: stock-rest-service
spec:
  selector:
    component: stock-rest
  ports:
    - port: 5000
      name: http
      targetPort: 5000
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-rest-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: stock-rest
  template:
    metadata:
      labels:
        component: stock-rest
    spec:
      containers:
        - name: stock-rest
          image: gcr.io/wdmproject23-v2/stock-rest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "1Gi"
              cpu: "1"
          command: ["gunicorn"]
          args: ["-b", "0.0.0.0:5000", "--timeout", "90", "--chdir", "/home/app/src", "app:start()"]
          ports:
            - containerPort: 5000
          env:
            - name: BOOTSTRAP_SERVERS
              value: kafka-service:9092